<!doctype html>
<html>
    <head>
        <title>Boggle Game!</title>
        <link type="text/css" rel="stylesheet" href="/static/boggle.css">
    </head>

    <body>
        <h1>Welcome to the boggle game!</h1>
        <table id="board">
            <tbody>
                {% for row in board %}
                <tr>
                    {%for col in row %}
                    <td>{{ col }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>

        <form method="POST"  id="guess">
            <input name = "word" id="wordInput">
            <button>Guess!</button>
        </form>

        
        <hr>
        <p class="score"></p>
        <p class="msg"></p>
        <ul class="words"></ul>
    
        <script src="http://unpkg.com/jquery"></script>
        <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
        <script src="/static/boggle.js"></script>

    </body>



</html>