<!DOCTYPE html>
<html lang="en">

<head>
  <title>Current User</title>
</head>

<body>
  <h1>Users info</h1>

  <div>

  {% if user.image_url %}
    <img src="{{ user.image_url }}">
  {% endif %}

  <h1>{{ user.full_name }}</h1>

  <form action="/users/{{ user.id }}/edit" method="get">
    <button type="submit">Edit user</button>
  </form>

  <form action="/users/{{ user.id }}/delete" method="post">
    <button type="submit">Delete</button>
  </form>

  <form action="/users/{{ user.id }}/posts/new" method="get">
    <button type="submit">Add Post</button>
  </form>

  <ul>
    {% for post in user.posts %}
    <li>
      <a href="/posts/{{ post.id}}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>

  </div>

</body>

</html>